:root {
}

/* Type kleuren  */
.type-grass    { background: var(--type-grass); }
.type-fire     { background: var(--type-fire); }
.type-water    { background: var(--type-water); }
.type-electric { background: var(--type-electric); }
.type-psychic  { background: var(--type-psychic); }
.type-normal   { background: var(--type-normal); }
.type-fighting { background: var(--type-fighting); }
.type-poison   { background: var(--type-poison); }
.type-ghost    { background: var(--type-ghost); }
.type-dragon   { background: var(--type-dragon); }
.type-bug      { background: var(--type-bug); }
.type-ground   { background: var(--type-ground); }
.type-fairy    { background: var(--type-fairy); }
.type-rock     { background: var(--type-rock); }
.type-ice      { background: var(--type-ice); }
.type-dark     { background: var(--type-dark); color: var(--light-accent); }  

@font-face {
    font-family: Inter;
    src: url(/assets/Inter.ttf)
}

